.edit-field {
  display: flex;
  position: relative;
  top: -90px;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 65px);
  min-width: 60%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  background-color: #ecf3f7;
}

.edit__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 31px 25px 35px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  background-color: #1a4876;

  &-title {
    display: flex;
    align-items: center;
    max-width: 560px;

    span {
      margin-right: 10px !important;
    }

    & .edit__title {
      color: #ffffff;
      font-family: "Myriad Pro";
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.09px;

      &.edit__title-number {
        margin-right: 25px;
      }
    }
  }

  .edit__close {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: none;
    background-image: url('../../img/close.png');
  }
}

.edit__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
  margin: 28px 40px;

  &::after {
    content: '';
    position: absolute;
    top: -26px;
    left: 70%;
    width: 1px;
    height: calc(100% + 56px);
    border-radius: 1px;
    background-color: #d7dce0;
  }

  .edit__body-left {
    width: calc(70% - 45px);

    .edit__description {
      margin-bottom: 50px;

      .edit__label {
        color: #9f9ea7;
        font-family: 'Ubuntu';
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }
  
      .edit__text {
        margin-top: 10px;
        margin-bottom: 0;
        color: #060606;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
    }

    .edit__body-form {
      margin-bottom: 45px;

      .edit-form__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        color: #9f9ea7;
        font-family: 'Ubuntu';
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;

        .edit-form__textarea {
          margin-top: 10px;
          resize: vertical;
        }
      }

      .edit-form__submit {
        width: 150px;
        height: 36px;
        border-radius: 20px;
        background-color: #008cf0;
        color: #ffffff;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        border: none;
        outline: none;
      
        &:hover {
          background-color: #40adfb;
        }
      
        &:active {
          background-color: #0066af;
        }
      }
    }

    .edit-comment {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      &__title {
        display: flex;

        .edit-comment__icon {
          width: 40px;
          height: 40px;
          border: 1px solid #c5cdd3;
          border-radius: 100%;
          background-color: #f5f5f5;
        }

        .edit-comment__time {
          margin-left: 10px;

          .edit-comment__name {
            margin: 7px 0;
            color: #525460;
            font-family: 'Ubuntu';
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.07px;
          }

          .edit-comment__date {
            color: #63677c;
            font-family: 'Ubuntu';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.06px;
          }
        }
      }

      .edit-comment__text {
        position: relative;
        left: 50px;
        width: 80%;
        padding: 10px 30px 20px 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: #e3e9f4;

        .edit-comment__p {
          margin: 0;
          color: #060606;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
        }
      }
    }
  }

  .edit__body-right {
    display: flex;
    flex-direction: column;
    width: calc(30% - 25px);

    .edit-status {
      display: flex;
      margin-bottom: 40px;
      color: #525460;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 400;

      .edit-status__circle {
        margin-right: 7px;
        margin-top: 2px;
        border-radius: 100%;
        width: 11px;
        height: 11px;
      }
    }

    .edit__field {
      margin-bottom: 30px;
    }

    .edit-name__label {
      display: flex;
      flex-direction: column;
      margin: 0 0 10px;
      color: #a09fa8;
      font-family: 'Ubuntu';
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;

      & + div {
        color: #030303;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }

      .edit-status__select {
        border: 1px solid #008cf0;
        border-radius: 10px;
        background-color: #008cf0;
        font-size: 11px;
        color: white;
        outline: none;

        &_large {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}