.create-field {
  display: flex;
  position: relative;
  top: -90px;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 65px);
  min-width: 60%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  background-color: #ecf3f7;
}

.create__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 31px 25px 35px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  background-color: #1a4876;

  .create__title {
    color: #ffffff;
    font-family: "Myriad Pro";
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.09px;
  }

  .create__close {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: none;
    background-image: url('../../img/close.png');
  }
}

.create__form {
  display: flex;
  flex-direction: column;
  margin: 22px 31px 25px 35px;
}

.form__textare-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  color: #9f9ea7;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  .form__textarea {
    margin-top: 10px !important;
    min-height: 85px;
    padding: 15px;

    &:invalid:focus {
      outline: red solid 1px;
    }
  }
}

.form__submit {
  width: 150px;
  height: 36px;
  margin-top: 48px;
  border-radius: 20px;
  background-color: #008cf0;
  border: none;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: 300;

  &:hover {
    background-color: #38acff;
  }

  &:active {
    background-color: #006ab6;
  }
}