.nav-wrapp {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  width: 95px;
  height: calc(100vh - 16px);
  background-color: #002137;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;

    .nav__icon {
      margin-bottom: 7px;
    }
  }
}

.current-page {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background-color: #002c49;
}