.search-wrapp {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - 95px);
  height: 65px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  background-color: #d1e0ed;
}

.search-bar {
  max-width: 680px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 35px 0 15px;
  box-shadow: 0 0 7px rgba(0, 140, 240, 0.15), inset -1px 0 7px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  border: 1px solid #42aaff;
  background-color: #ffffff;
  background-image: url('../../img/search.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
  outline: none;
}