.tr {
  position: relative;

  td {
    border-bottom: 1px solid #eef1f4;
    border-radius: 1px;
  }
}

.td-edit {
  display: flex;
  align-items: center;
}

.tr__bg {
  width: 5px;
  height: 50px;
  border-radius: 2px;
  margin-right: 15px;

  & + div {
    cursor: pointer;
    background-image: url('../../img/edit.png');
    width: 16px;
    height: 16px;
  }
}

.tr__item {
  padding: 10px 0;
  color: #525460;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
}

.tr__status {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 22px;
    padding: 0 14px;
    margin-right: 25px;
    border-radius: 11px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
  }
}