.content-wrapp {
  display: flex;

  .table-wrapp {
    overflow: auto;
    height: calc(100vh - 155px);

    .task-table {
      min-width: 1000px;
      overflow: auto;
    }
  }
}

.create-wrapp {
  margin: 25px 0 25px 250px;
}

.create-button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #008cf0;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;

  &:hover {
    background-color: #40adfb;
  }

  &:active {
    background-color: #0066af;
  }

  &.disable {
    opacity: 0.5;
  }
}

.task-table {
  position: relative;
  width: 100%;
}

.th {
  &::after {
    content: '';
    position: absolute;
    top: 36px;
    left: 0;
    height: 1px;
    width: 100%;
    box-shadow: 0 0 10px rgba(94, 96, 109, 0.2);
    border-radius: 1px;
    background-color: #dae0e7;
  }

  &__void {
    width: 49px;
  }

  &__item {
    position: relative;
    padding-bottom: 11px;
    padding-right: 15px;
    color: #404147;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      right: 15px;
      width: 1px;
      height: 22px;
      border-radius: 1px;
      background-color: #e2e7ea;
    }

    &_last {
      left: 10px;
      
      &::after {
        content: none;
      }
    }
  }

  &__id {
    width: 62px;
  }

  &__name {
    width: 386px;
  }

  &__status {
    width: 93px;
  }

  &__executor {
    width: 250px;
  }
}